<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lineedit_history_viewer-search-panel-expression</key>
	<array>
		<string>page will help</string>
		<string>databases section</string>
		<string>regexp</string>
		<string>error and cond</string>
		<string>Interfa</string>
		<string>data-structu</string>
		<string>editor-suppo</string>
		<string>debugging section</string>
		<string>testing</string>
		<string>CLOS</string>
		<string>error handl</string>
		<string>CLOS section</string>
		<string>strings</string>
		<string>pattern match</string>
		<string> page.</string>
		<string>anadva</string>
		<string>editor-support</string>
	</array>
</dict>
</plist>
